/payload-comparison-app/vendor/
/payload-comparison-appnode_modules/
/payload-comparison-appnpm-debug.log
/payload-comparison-appyarn-error.log

# Laravel 4 specific
/payload-comparison-appbootstrap/compiled.php
/payload-comparison-appapp/storage/

# Laravel 5 & Lumen specific
/payload-comparison-apppublic/storage
/payload-comparison-apppublic/hot

# Laravel 5 & Lumen specific with changed public path
/payload-comparison-apppublic_html/storage
/payload-comparison-apppublic_html/hot

/payload-comparison-appstorage/*.key
/payload-comparison-app.env
/payload-comparison-appHomestead.yaml
/payload-comparison-appHomestead.json
/payload-comparison-app/.vagrant
/payload-comparison-app.phpunit.result.cache
